.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  min-width: 200px;
}

input {
  background-color: rgb(48, 48, 48);
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 25px;
}

.button {
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  outline: none;
  color: #ffffff;
  background-color: #01c489;
  border: none;
  border-radius: 5px;
  min-height: 35vh;
  box-shadow: 0 8px #007954;
  width: 100%;
}

.text {
  display: inline-block;
  font-size: 40px;
  font-weight: 500;
}

.r {
  transform: rotate(180deg);
}

.button.is-counting {
  background-color: #17916c;
  box-shadow: 0 -4px #147a5b;
  transition: 0.2s;
}

.button.finish {
  background-color: #ce2121;
  box-shadow: 0 -4px #911616;
  transition: 0.2s;
}

.options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 2rem;
  margin-top: 8px;
}

.options-container button {
  padding: 0;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
}

.options-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.options-container button:hover {
  scale: 1.1;
  transition: 0.2s;
}

.options-container button:active {
  scale: 0.9;
  transition: 0.2s;
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    min-width: 200px;
  }

  .button {
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    outline: none;
    color: #ffffff;
    background-color: #01c489;
    border: none;
    border-radius: 5px;
    height: 90vh;
    box-shadow: 0 8px #007954;
  }

  .options-container {
    flex-direction: column;
    gap: 2rem;
    margin-top: 0px;
    width: 350px;
    justify-content: center;
    align-items: center;
  }
  .text {
    font-size: 60px;
    font-weight: 500;
  }

  .r {
    transform: rotate(0deg);
  }

  .options-container button {
    padding: 0;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
  }
}
