.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2.5rem;
  min-width: 200px;
  max-width: 450px;
}

input {
  background-color: rgb(48, 48, 48);
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 25px;
}

.button {
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  outline: none;
  color: #242424;
  background-color: white;
  border: none;
  border-radius: 5px;
  min-height: 35vh;
  box-shadow: 0 8px #95a5a6;
  width: 100%;
}

.text {
  display: inline-block;
  font-size: 40px;
  font-weight: 500;
}

.r {
  transform: rotate(180deg);
}

.button.is-counting {
  background-color: #17916c;
  box-shadow: 0 -4px #147a5b;
  transition: 0.2s;
}

.options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 2rem;
  margin-top: 8px;
}

.options-container button {
  background-color: #21ce99;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px #16916c;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.options-container button:hover {
  scale: 1.1;
  transition: 0.2s;
}

.options-container button:active {
  scale: 0.9;
  transition: 0.2s;
}
