body {
  margin: 25px;
  padding: 5px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 280px) {
  body {
    margin: 10px;
    padding: 0;
    min-height: 580px;
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 601px) and (max-width: 900px) {
  body {
    margin: 20px;
    padding: 10px;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 901px) {
  body {
    margin: 50px;
    padding: 20px;
  }
}
